@import "../../style/index.scss";

$input-fontsize: 14px;
$button-fontsize: 18px;
$button-radius: 25px;
$box-width: 300px;
$box-hegith: 48px;

.loginpage {
  margin-left: 38px;
  margin-right: 37px;
  margin-top: 139px;
  padding: 0;
}

.header {
  margin-bottom: 48px;
  text-align: center;
}

.header__logo {
  display: inline-block;
  width: 134px;
  height: 48px;
  border: 1px solid #2e2514;
}

.input__email {
  display: inline-block;
  width: $box-width - 56px;
  height: $box-hegith;
  padding-left: 28px;
  padding-right: 28px;
  border-radius: $button-radius;
  border: 0;
  background-color: #f5f5f5;
  color: #616161;
  font-size: $input-fontsize;
  outline: none;
}

.input__password {
  @extend .input__email;
  margin-top: 24px;
}

.bottom__loginbutton {
  display: block;
  background-color: #fbb33b;
  width: $box-width;
  height: $box-hegith;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-radius: $button-radius;
  border: 0;
  color: #f5f5f5;
  font-size: $button-fontsize;
  outline: none;
}
.bottom__Autologin {
  display: inline-block;
  margin-left: 7px;
  margin-top: 20px;
}

.bottom__Autologin--checkbox + label {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #fbb33b;
  cursor: pointer;
}
.bottom__Autologin--scheckbox:checked + label {
  background-color: #fbb33b;
  color: #f5f5f5;
}

.bottom__Autologin--checkbox {
  display: none;
}
.bottom__forgotpassword {
  float: right;
  margin-top: 20px;
  color: #616161;
}
.bottom__Autologin_span {
  margin-left: 8px;
  color: #616161;
}
.bottom__signupbutton {
  display: block;
  width: $box-width;
  height: $box-hegith;
  padding: 1rem;
  margin-top: 180px;
  border-radius: $button-radius;
  border: 1px solid #fbb33b;
  background-color: #ffffff;
  color: #fbb33b;
  font-size: $button-fontsize;
  outline: none;
}
