@import "../../style/index.scss";

.tapbar {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12%;
  box-shadow: 0px 0px 7px -3px $main-black-4;
}

.tapblock {
  flex: 1;
  width: 25%;
  text-align: center;

  &__icon {
    display: block;
    padding-top: 8pt;
  }

  &__text {
    font-weight: 200;
    color: $main-black-1;
    &-istap {
      color: $main-butterscotch;
    }
  }
}
