@import "../../../../style/index.scss";

.around {
  width: 95%;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 16pt;
  &__text {
    display: block;
    float: left;
    width: 90%;
    height: 30px;
    margin-top: 5pt;
    color: $main-butterscotch;
  }
}

.location-icon3 {
  display: block;
  float: left;
  width: 30px;
  margin-top: 5pt;
}
