@import "../../style/index.scss";
@import "../../style//variable.scss";

.createcommnet {
    position: fixed;
    bottom: 0px;
    background-color: $main-white;
    width: 375px;
    height: 98px;
    box-shadow: 0 -3px 5px 0 $main-black-4;
    text-align: center;
  }
  
  .createcommnet__form{
    display: inline-block;
    background: $main-black-5;
    padding:9px 18px;
    font-size: 14px;
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 300;
    border-radius: 8px;
    border: 1px solid #f7f7fa;
    margin : 8px 8px 8px 16px;
    width: 302.9px - 32px;
    height: 19px;
    outline: none;
  }
  .createcommnet__button{
    color:$main-butterscotch;
    font-size:16px;
  }
  