@import "../../../../style/index.scss";

.input__wrapper {
  width: 95%;
  height: 30pt;
  margin: 0 auto;
  margin-bottom: 12pt;
  border-radius: 5pt;
  background: $main-black-5;
}

.input__text {
  display: block;
  float: left;
  width: 80%;
  height: 24pt;
  margin-top: 2pt;
  margin-left: 5pt;
  border: none;
  outline: none;
  background: $main-black-5;
  font-size: 12pt;
}

.search-icon {
  display: block;
  float: left;
  margin-left: 4pt;
  margin-top: 4pt;
}
