@import "../../style/index.scss";
@import "../../style//variable.scss";



$font-size : 14px;
.padding{
  padding-left:20px;
  padding-right: 20px;
}
.card{

  border-radius: 10px;
  margin: 20px 16px;
  box-shadow: 1pt 1pt 5pt 0pt $main-black-4;
}
.header{
  @extend .padding;
  padding-top:28px;
}
.header__title{
  display: inline-block;
  font-size: 18px;
  color: $main-black-1
}
.header__hash{
  float: right;
}
.contents{
  @extend .padding;
  max-height: 64px;
  margin-top:20px;
  font-size: $font-size;
  color: $main-black-1
}
.hash{
  @extend .padding;
  font-size:$font-size;
  color:$main-black-3;
  margin-top:4px;
}
.info{
  @extend .padding;
  margin-top:18px;
  height: 20px;
}
.info__place{
  display: inline-block;
  font-size:$font-size;
  color: $main-black-1
}
.info__date{
  font-size:$font-size;
  float: right;
  margin-top:7px;
  color: $main-black-1
}

.bottom{
  @extend .padding;
  margin-top:18px;
  height: 40px;
  border-radius: 0 0 10px 10px;
  font-size:$font-size;
  background-color:$main-black-5; 
}


.bottom__icon{
  margin-left: 4px; 
  margin-top: 8px;
}

.bottom__comentcount{
  float: left;
  margin-top: 8px;
}
.bottom__commenticon{
  @extend .bottom__icon;
  float: left;
  margin-top: 8px;
}
.bottom__viewcount{
  float: right;
  margin-top: 8px;
}
.bottom__viewicon{
  @extend .bottom__icon;
  float: right;
  margin-right: 20px;
}
.bottom__likecount{
  float: right;
  margin-top: 8px;
 
}
.bottom__likeicon{
  @extend .bottom__icon;
  float: right;
}