@import "../../../style/index.scss";

.updateform{
margin-top:40px;
 padding-left: 16px;
 padding-right: 15.5px;
}
.update__title{
    font-size:16px;
    font-family: "NotoSans";
    font-style: normal;
    font-weight: normal;
}
.update__box{
    margin-top:10px;
    border-bottom: 1px solid $main-black-4;  
    color: $main-black-4;
    &-focus {
        border-bottom: 1px solid #000000;  
        color: $main-black-1;
      }
}
.update__box__input{
    font-size:14px;
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 300;
    outline: none;

}
.update__box__icon{
    float: right;
}