@import "../../style/index.scss";

$choidcolor:$main-butterscotch;

.template {
    background-color: $main-black-4;
    height: 800px;
}

.header{
    display:block;
    background-color: $main-white;
    margin-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
}
.header__usericon{
    display: inline-block;
}
.header__username{
    display: inline-block;
    font-size:18px;
}
.header__editicon{
    float: right;
<<<<<<< HEAD
=======
    width: 64px;
    height: 24px;
    border : 1px solid $main-black-3;
    border-radius: 12px; 
    text-align: center;
    color: $main-black-3;
    font-size: 14px;
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 300;
}
.header__hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $main-black-4;
    padding: 0; 
>>>>>>> e907aec... style. assets에 로그인 로고 추가 docs. 마이페이지
}

.box{
    background-color: $main-white;
    display: inline-block;
    width: 125px;
    height: 103px;
    text-align: center;
    //border-bottom: 1px solid $choidcolor;
}
.box__count{
    margin-top:20px;
    font-size:21px;
}
.box__title{
    margin-top:12px;
    font-size:14px;
    color:$main-black-2;
}
.support{
    background-color: $main-white;
    margin-top:8px;
    padding-left: 28px;
    padding-right: 16px;
}
.account{
    background-color: $main-white;
    margin-top:8px;
    padding-left: 28px;
    padding-right: 16px;
}
.item__title{
    font-size: 16px;
}
.item__hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $main-black-4;
    padding: 0; 
}


