.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}
// size
.sm {
    width: 16px;
    height: 16px;
}
.md {
    width: 24px;
    height: 24px;
}
.lg {
    width: 36px;
    height: 36px;
}
// type
.test {
    background-color: rgb(243, 85, 60);
}