@import "../../style/index.scss";

.tap-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  height: 28pt;
  margin-bottom: 10pt;
  border-bottom: 1px solid;
  color: $main-black-3;
  text-align: center;
  cursor: pointer;

  &__text {
    padding-bottom: 6pt;
    font-size: 18px;
  }

  &-toggle {
    color: $main-black-1;
  }
}
