@import "../../../style/variable.scss";
.modal {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.modal__hr{
  
}

.modal__edit {
  display: inline-block;
  position: fixed;
  bottom: 133px;
  background: white;
  width: 343px;
  height: 43px;
  margin-left: 15px;
  padding-top:15px;
  text-align: center;
  border-radius:12px 12px 0px 0px;
  color:$modal-blue;
}
.modal__delete {
  position: fixed;
  bottom: 75px;
  background: white;
  width: 343px;
  height: 43px;
  margin-left: 15px;
  padding-top:15px;
  text-align: center;
  border-radius:0px 0px 12px 12px;
  color:$modal-red;
}
.modal__cancel {
  position: fixed;
  bottom: 10px;
  background: white;
  width: 343px;
  height: 43px;
  margin-left: 15px;
  padding-top:15px;
  text-align: center;
  border-radius: 12px;
  color:$modal-blue;
}
