@import "../../../style/index.scss";

.sign-up-form {
  width: 90%;
  margin: 0 auto;
  margin-top: 20pt;
  &__text {
    font-size: 13.5pt;
  }
  &__input {
    margin-top: 10pt;
  }
  &__return-text {
    margin-top: 10pt;
    float: right;
    font-size: 8pt;
    color: $main-butterscotch;
  }
}
