@import "../../style/index.scss";
.hash {
  display: inline-block;
  width: auto;
  min-width: 5%;
  border-radius: 12pt;
  margin: 5pt;
  border: 1pt solid;
  border-color: $main_butterscotch;
  color: $main-black-3;
  text-align: center;

  &__text {
    display: inline-block;
    padding: 4pt;
    font-size: 0.95rem;
  }
}
