@import "../../style/index.scss";
.hash {
  display: inline-block;
  min-width: 5%;
  margin: 5pt;
  border: 1pt solid;
  border-radius: 12pt;
  border-color: $main_butterscotch;
  color: $main-black-3;
  text-align: center;

  &__text {
    display: inline-block;
<<<<<<< HEAD
=======
    padding: 0pt 10pt 0pt 10pt;
>>>>>>> fff5b4d097368a31b51ca3978e071f61c3c1a455
    font-size: 12pt;
  }
}
