@import "../../style/index.scss";

.placecard {
  display: inline-block;
  box-sizing: border-box;
  width: 240pt;
  margin: 5pt;
  border-radius: 5pt;
  font-size: 0;

  &__image {
    width: 100%;
    height: 130.7pt;
  }
}

.shadow {
  height: 65pt;
  border-radius: 5pt;
  box-shadow: 0pt 1pt 1pt 1pt $main-black-4;
}

.info {
  display: flex;
  height: 40pt;
}

.spot {
  flex: 7;
  height: 28pt;
  margin-top: 10pt;
  margin-left: 5pt;
  overflow: hidden;

  &__text {
    display: inline-block;
    font-size: 17pt;
  }
}

.stories {
  flex: 3;
  height: 20pt;
  margin-top: 13pt;
  margin-right: 5pt;
  text-align: right;
  font-size: 15pt;
  font-weight: 200;
}

.hashtags {
  margin: 0 0 12pt 12pt;
  color: $main-black-3;
  font-size: 13pt;
}
