@import "../../style/index.scss";

.placecard {
  display: inline-block;
  box-sizing: border-box;
  width: 235pt;
  margin: 5pt;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 5px $main-black-4;
  font-size: 0;

  &__image {
    width: 100%;
    height: 130.7pt;
  }
}

.info {
  display: flex;
}

.spot {
  flex: 7;
  height: 30pt;
  margin-top: 15pt;
  margin-left: 5pt;
  overflow: hidden;

  &__text {
    display: inline-block;
    font-size: 1.4rem;
  }
}

.stories {
  flex: 3;
  height: 20pt;
  margin-top: 18pt;
  margin-right: 5pt;
  text-align: right;
  font-size: 1.2rem;
}

.hashtags {
  margin-left: 15pt;
  color: $main-black-3;
  font-size: 1.1rem;
}
