//=============카드 뷰==================

.card_container {
  border-radius: 10px;
  display: block;
  border: 3px solid #e9ecef;
  width: 80%;
  margin: 5% auto;
  text-align: left;
}

.card_head {
  display: block;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.card_title {
  display: inline-block;
  font-weight: bold;
}

.card_commentcount {
  margin-left: 0.5rem;
  display: inline-block;
}

.card_commentbutton {
  display: inline-block;
  border: none;
  background: none;
  font-size: 1rem;
}

.card_content {
  margin: auto 1rem;
  color: #616161;
  text-align: left;
  font-size: 1rem;
}

.card_hashtag {
  margin: 1.5rem 0 1rem 1rem;
  color: #9c9c9c;
  text-align: left;
  &.main-card {
    margin-bottom: 0;
  }
}

.card_bottom {
  display: block;
  background-color: #f7f7fa;
  padding: 1.5rem;
  &.main-card {
    background-color: white;
  }
}

.card_bottom_box {
  float: right;
}

.card_date {
  display: inline-block;
  color: #616161;
}

.card_button {
  display: inline-block;
  border: none;
  background: none;
  padding: 0.5rem;
  font-size: 1rem;

  &.true {
    color: red;
  }
}

.card_conut {
  display: inline-block;
  color: #616161;
  font-size: 1rem;
}

.hr {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #616161;
}
