<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
//=============카드 뷰==================

.card_container {
  border-radius: 10px;
  display: block;
  border: 3px solid #e9ecef;
  width: 80%;
  margin: 5% auto;
  text-align: left;
}

.card_head {
  display: block;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.card_title {
  display: inline-block;
  font-weight: bold;
}

.card_commentcount {
  margin-left: 0.5rem;
  display: inline-block;
}

.card_commentbutton {
  display: inline-block;
  border: none;
  background: none;
  font-size: 1rem;
}
=======
=======
>>>>>>> 02a28b3d49241f9e5a868ef7549465835021e13c
=======
>>>>>>> 30eb86ba6d791d236d98eb973ac55f802711e742
<<<<<<< HEAD:src/components/CardComponents/Card.scss
//=============카드 뷰==================
=======
@import "../../style/index.scss";
@import "../../style//variable.scss";

<<<<<<< HEAD:src/components/CardComponents/Card.scss
>>>>>>> 3cb7984... style. 사이즈 px 변경, 색상 변경 docs. 최종으로 변경된 디자인으로 수정:src/views/components/Card/CardView.scss
=======
$font-size: 14px;
>>>>>>> 343b0ff... feat. 카드 상세보기 페이지:src/views/components/Card/CardView.scss

.padding {
  padding-left: 20px;
  padding-right: 20px;
}
<<<<<<< HEAD:src/components/CardComponents/Card.scss
.card{

<<<<<<< HEAD:src/components/CardComponents/Card.scss
.card_title {
  display: inline-block;
  font-weight: bold;
=======
  border-radius: 10px;
=======
.card {
>>>>>>> 343b0ff... feat. 카드 상세보기 페이지:src/views/components/Card/CardView.scss
  margin: 20px 16px;
  border-radius: 10px;
  box-shadow: 1pt 1pt 5pt 0pt $main-black-4;
>>>>>>> 3cb7984... style. 사이즈 px 변경, 색상 변경 docs. 최종으로 변경된 디자인으로 수정:src/views/components/Card/CardView.scss
}
.header {
  @extend .padding;
  padding-top: 28px;
}
.header__title {
  display: inline-block;
  font-size: 18px;
  color: $main-black-1;
}
<<<<<<< HEAD:src/components/CardComponents/Card.scss
<<<<<<< HEAD:src/components/CardComponents/Card.scss
<<<<<<< HEAD
>>>>>>> f25040b2071d69a125aec6f6920229b1ed02e1b5
=======
>>>>>>> 02a28b3d49241f9e5a868ef7549465835021e13c

.card_content {
  margin: auto 1rem;
  color: #616161;
  text-align: left;
  font-size: 1rem;
}

.card_hashtag {
  margin: 1.5rem 0 1rem 1rem;
  color: #9c9c9c;
  text-align: left;
  &.main-card {
    margin-bottom: 0;
  }
}

.card_bottom {
  display: block;
  background-color: #f7f7fa;
  padding: 1.5rem;
  &.main-card {
    background-color: white;
  }
<<<<<<< HEAD
<<<<<<< HEAD
}

.card_bottom_box {
  float: right;
}

.card_date {
  display: inline-block;
  color: #616161;
}

.card_button {
  display: inline-block;
  border: none;
  background: none;
  padding: 0.5rem;
  font-size: 1rem;

  &.true {
    color: red;
  }
}

=======
=======
>>>>>>> 02a28b3d49241f9e5a868ef7549465835021e13c
=======
.header__hash{
=======
.header__hash {
>>>>>>> 343b0ff... feat. 카드 상세보기 페이지:src/views/components/Card/CardView.scss
  float: right;
}
.contents {
  @extend .padding;
  max-height: 64px;
  margin-top: 20px;
  font-size: $font-size;
  color: $main-black-1;
}
.hash {
  @extend .padding;
<<<<<<< HEAD:src/components/CardComponents/Card.scss
  font-size:$font-size;
  color:$main-black-3;
  margin-top:4px;
>>>>>>> 3cb7984... style. 사이즈 px 변경, 색상 변경 docs. 최종으로 변경된 디자인으로 수정:src/views/components/Card/CardView.scss
=======
  margin-top: 4px;
  font-size: $font-size;
  color: $main-black-3;
>>>>>>> 343b0ff... feat. 카드 상세보기 페이지:src/views/components/Card/CardView.scss
}
.info {
  @extend .padding;
  height: 20px;
  margin-top: 18px;
}
.info__place {
  display: inline-block;
  font-size: $font-size;
  color: $main-black-1;
}
.info__date {
  float: right;
  margin-top: 7px;
  font-size: $font-size;
  color: $main-black-1;
}

.bottom {
  @extend .padding;
  height: 40px;
  margin-top: 18px;
  border-radius: 0 0 10px 10px;
  background-color: $main-black-5;
  font-size: $font-size;
}

.bottom__icon {
  margin-left: 4px;
  margin-top: 8px;
}

<<<<<<< HEAD:src/components/CardComponents/Card.scss
<<<<<<< HEAD:src/components/CardComponents/Card.scss
<<<<<<< HEAD
>>>>>>> f25040b2071d69a125aec6f6920229b1ed02e1b5
=======
>>>>>>> 02a28b3d49241f9e5a868ef7549465835021e13c
.card_conut {
  display: inline-block;
  color: #616161;
  font-size: 1rem;
}

.hr {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #616161;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> 02a28b3d49241f9e5a868ef7549465835021e13c
=======
.bottom__comentcount{
=======
.bottom__comentcount {
>>>>>>> 343b0ff... feat. 카드 상세보기 페이지:src/views/components/Card/CardView.scss
  float: left;
  margin-top: 8px;
}
.bottom__commenticon {
  @extend .bottom__icon;
  float: left;
  margin-top: 8px;
>>>>>>> 3cb7984... style. 사이즈 px 변경, 색상 변경 docs. 최종으로 변경된 디자인으로 수정:src/views/components/Card/CardView.scss
}
.bottom__viewcount {
  float: right;
  margin-top: 8px;
}
.bottom__viewicon {
  @extend .bottom__icon;
  float: right;
  margin-right: 20px;
}
.bottom__likecount {
  float: right;
  margin-top: 8px;
}
.bottom__likeicon {
  @extend .bottom__icon;
  float: right;
<<<<<<< HEAD
>>>>>>> f25040b2071d69a125aec6f6920229b1ed02e1b5
=======
>>>>>>> 02a28b3d49241f9e5a868ef7549465835021e13c
}
