@import "../../../../style/index.scss";

.tag {
  width: 95%;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 20pt;
  &__text {
    display: block;
    float: right;
    width: 88%;
    height: 30px;
    margin-top: 5pt;
  }
}
