@import "../../../../style/index.scss";

.tag {
  width: 95%;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 20pt;
  &__text {
    display: block;
    float: left;
    width: 80%;
    height: 30px;
    margin-top: 5pt;
    margin-left: 5pt;
  }
}
.location__icon {
  display: block;
  float: left;
}
