@import "../../../style/index.scss";

.block{
    padding-top:15px;
    padding-bottom: 13px;
}
.block__title{
    display: inline-block;
    font-size: 16px;
    color:$main-black-1;
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 300;
}
.block__icon{
    float: right;
}