@import "../../style/index.scss";
@import "../../style/variable.scss";

.Authenticationbutton {
  background-color: #ffffff;
  border: 1px solid $authentication-button;
  border-radius: 25px;
  font-size: 18px;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 11px;
  margin: 0 auto;
  margin-top: 30pt;
  outline: none;
  color: $main-black-3;
  text-align: center;
  font-family: "NotoSans";
  font-style: normal;
  font-weight: normal;
  &.done {
    color: $main-black-1;
  }
}
