@import "../../../style/index.scss";

.modal {
  z-index: 100;

  &__background {
    position: fixed;
    width: 100%;
    height: 65vh;
    left: 0;
    top: 0;
    background: $main-black-4;
    opacity: 0.3;
  }

  &__category {
    position: absolute;
    width: 100%;
    height: 35vh;
    bottom: 0;
    background: $main-white;
  }

  &__header {
    width: 90%;
    height: 30pt;
    margin: 0 auto;
  }

  &__title {
    display: block;
    width: 90%;
    float: right;
    margin-top: 5pt;
    margin-left: 5pt;
    text-align: center;
  }
}
.close {
  display: block;
  float: right;
  width: 6%;
  margin-top: 5pt;
}
.category__kind {
  width: 90%;
  height: 25pt;
  margin: 0 auto;
  padding-top: 7pt;
  border-top: 1px solid $main-black-4;
}
