// 한국어, 영어 서브셋 폰트 (Default Font)
@font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
    //unicode-range: U+AC00-D7AF, // 한글, 라틴 소문자,대문자, 특수문자들
    //U+0021, U+003F, // !, ?
    //U+0041-005A,
    //U+0061-007A,
    //U+0021, U+0023-0040,
    //U+005B-0061,
    //U+007?,
    //U+2582-3011;
    src: local("NotoSansCJK-Regular"),
    local("NotoSansCJK-Regular"),
    url("./../../assets/font/NotoSans-Regular.woff2") format("woff2"),
    url("./../../assets/font/NotoSans-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    //unicode-range: U+AC00-D7AF,
    //U+0021, U+003F,
    //U+0041-005A,
    //U+0061-007A,
    //U+0021, U+0023-0040,
    //U+005B-0061,
    //U+007?,
    //U+2582-3011;
    src: local("NotoSansCJK-Light"),
    local("NotoSansCJKkr-Light"),
    url("./../../assets/font/NotoSans-Light.woff2") format("woff2"),
    url("./../../assets/font/NotoSans-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "NotoSans";
    font-style: normal;
    font-weight: bold;
    font-display: fallback;
    //unicode-range: U+AC00-D7AF,
    //U+0021, U+003F,
    //U+0041-005A,
    //U+0061-007A,
    //U+0021, U+0023-0040,
    //U+005B-0061,
    //U+007?,
    //U+2582-3011;
    src: local("NotoSansCJK-Bold"),
    local("NotoSansCJKkr-Bold"),
    url("./../../assets/font/NotoSans-Bold.woff2") format("woff2"),
    url("./../../assets/font/NotoSans-Bold.woff") format("woff");
  }
