$main-butterscotch: #fbb33b;
$main-paleRed: #f3553c;
$main-black-1: rgb(51, 51, 51);
$main-black-2: rgb(97, 97, 97);
$main-black-3: rgb(156, 156, 156);
$main-black-4: rgb(219, 219, 219);
$main-black-5: rgb(247, 247, 250);
$main-white: #ffffff;
