$main-butterscotch: #fbb33b;
$main-paleRed: #f3553c;
$main-black-1: rgb(51, 51, 51);
$main-black-2: rgb(97, 97, 97);
$main-black-3: rgb(156, 156, 156);
$main-black-4: rgb(219, 219, 219);
$main-black-5: rgb(247, 247, 250);
$main-white: #ffffff;

$authentication-button: rgb(222, 222, 222);

$modal-blue: rgb(0 ,122 ,255);
$modal-red: rgb(255 ,59, 48);
